@use "../util" as u;
@use '../globals' as g;

.main-card{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 420px;
    height: 100vh;
    margin-inline: auto;

    @include u.breakpoint(medium){
            max-width: 720px;
            position: relative;
            top: u.$spacing-700;
        }


     @include u.breakpoint(large){
            max-width: 1160px;
            position: relative;
            top: u.$spacing-1200;
        }

    &__header{
        padding: u.$spacing-200;
        height: 72px;
      
        &--title{
            display: none;
            align-items: center;
            gap: .5rem;
        }
      
        &--dark-mode-switch{
            display: inline-flex;
            float: right;
            height: 100%;
            gap: .5rem;

            &--sun{
                height: 25px;
                width: 25px;
                background-image: var(--sun-icon);
            }
            &--moon{
                height: 25px;
                width: 25px;
                background-image: var(--moon-icon);
            }
        }
        &--dark-mode-switch {
            display: flex;
            align-items: center;
        }
    }

    &__main{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 10fr;
        margin-inline: u.$spacing-300;
        margin-top: u.$spacing-400;
        height: auto;
        

        @include u.breakpoint(large){
            max-width: 1160px;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr;
            gap: u.$spacing-1600;
        }

         &--wrapper{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            height: auto;
            gap: u.$spacing-200;
            width: 100%;

            @include u.breakpoint(large){
                margin-top: u.$spacing-500;
                width: 100%;
            }

             &--title{
                font-size: g.$font-size-1-mobile;
                font-weight: 200;
                line-height: 100%;
                width: 100%;
                @include u.breakpoint(large){
                    font-size: 64px;
                }
            }
            &--subtitle{
                text-align: center;
                font-size: g.$font-size-4-mobile;
                font-weight: 200;
                line-height: 120%;
                font-family: 'Rubik-Italic';
                color: var(--text-secondary);
                 @include u.breakpoint(large){
                    font-size: 16px;
                }
            }
        }

        &--topics{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            width: 100%;
            gap: u.$spacing-200;
            margin-top: u.$spacing-500;

             @include u.breakpoint(large){
                max-width: 700px;
            }

            &--item{
                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap: u.$spacing-200;
                padding-left: u.$spacing-300;         
                height: 72px;
                width: 100%;
                border: none;
                background-color: var(--bg-secondary);
                font-size: g.$font-size-3-mobile;
                color: var(--text-primary); 
                box-shadow: 0px 16px 40px var(--shadow);
                border-radius: 20px;
            }
        }
    }
}

// TEMPLATE-QUESTION
.template-question{
    display: none;
    flex-direction: column;
    gap: u.$spacing-300;
    margin-bottom: 40px;
    width: 100%;
    @include u.breakpoint(large){
        width:  100%;
    }

    &--title{
        font-size: g.$font-size-4-mobile;
        color: var(--question-number);
    }

    &--question{
        font-size: 36px;
        font-weight: 500;
        color: var(--question-conent);
        line-height: g.$line-height-2;
    }
}

// TEMPLATE-QUIZ
.template-quiz{
    display: none;
    flex-direction: column;
    gap: 1rem;
}
.answer_btn{
    @extend .main-card__main--topics--item;
    min-height: 72px;
    height: auto;
    padding-left: u.$spacing-100;
    gap: 0;
}
.asnwer_option{
    width: 40px;;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--grey-50);
    color: var(--grey-500);
    border-radius: 10px;
    flex-shrink: 0;
}
.answer_content{
    width: auto;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 1rem;
    text-align: left;
    flex: 1;
    word-wrap: break-word;
    word-break: break-all;
}
.answer_icon{
    width: 40px;
    height: 40px;
    display: none;
    position: relative;
    margin-left: auto;
}
.submit_btn{
    height: 56px;
    width: 100%;
    background-color: var(--purple-600);
    color: white;
    font-size: g.$font-size-2-mobile;
    font-weight: 500;
    border-radius: 20px;
    border: none;
}

// TEMPLATE-RESULTS-title
.template-results-title{
    display: none;
    flex-direction: column;
    gap: 1rem;
    font-size: 40px;
    margin-bottom: 2rem;
}
.results_title{
    font-weight: 200;
}

// TEMPLATE-RESULTS-score
.template-results-score{
    display: none;
    flex-direction: column;
    gap: 1rem;
}
.score--title{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}
.score--card{
    background-color: var(--bg-secondary);
    box-shadow: 0px 16px 40px var(--shadow);
    border-radius: 20px;
    padding: u.$spacing-300;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: u.$spacing-200;
    padding: 3rem;
    margin-bottom: 2rem;

    @include u.breakpoint(large){
        width: 100%;
    }
}
.score--number{
    font-size: 144px;
    font-weight: 600;
    line-height: 100%;
}

// HELPER classes
.dark-mode-topics, .dark-mode-topics--item{
    background-color: var(--blue-900); 
}
.btn{
    cursor: pointer;
    border: none;
}
.bold{
    font-weight: 600;
}
.selected{
    border: 1px solid var(--purple-600);
}
.selected_option{
    background-color: var(--purple-600);
    color: var(--white);
}
.correct{
    border: 1px solid var(--green-500);
    width: 100%;
}
.correct_option{
    background-color: var(--green-500);
    color: var(--white);
}
.wrong{
    border: 1px solid var(--red-500);
    width: 100%;
}
.wrong_option{
    background-color: var(--red-500);
    color: var(--white);
}
.submitValidation{
    display: none;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    color: var(--text-primary);
    font-size: g.$font-size-4-mobile;
    text-align: center;
}