@use "../util" as u;
@use '../globals' as g;

.main-card{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 10fr;
    margin-inline: auto;
    min-width: 375px;
    max-width: 640px;
    height: 100vh;

    &__header{
        padding: u.$spacing-200;
        margin-inline: u.$spacing-300;
        height: 72px;

        &--title{
            display: inline-flex;
            align-items: center;
            display: none;
        }
      
        &--dark-mode-switch{
            display: inline-flex;
            float: right;
            height: 100%;
            gap: .5rem;

            &--sun{
                height: 25px;
                width: 25px;
                background-image: var(--sun-icon);
            }
            &--moon{
                height: 25px;
                width: 25px;
                background-image: var(--moon-icon);
            }
        }
        &--dark-mode-switch {
            display: flex;
            align-items: center;
        }
    }

    &__main{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-inline: u.$spacing-300;
        margin-top: u.$spacing-400;

         &--wrapper{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 100%;
            gap: u.$spacing-200;

             &--title{
                font-size: g.$font-size-1-mobile;
                font-weight: 200;
                line-height: 100%;
            }
            &--subtitle{
                text-align: center;
                font-size: g.$font-size-4-mobile;
                font-weight: 200;
                line-height: 120%;
                font-family: 'Rubik-Italic';
                color: var(--text-secondary);
            }
        }

        &--topics{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            gap: u.$spacing-200;
            margin-top: u.$spacing-500;

            &--item{
                display: flex;
                justify-content: flex-start;
                gap: u.$spacing-200;
                padding-left: u.$spacing-300;
                align-items: center;
                height: 72px;
                margin-inline: auto;
                width: 100%;
                background-color: var(--bg-secondary);
                font-size: g.$font-size-4-mobile;
                box-shadow: 0px 16px 40px var(--shadow);
                border-radius: 20px;
            }
        }
    }
}

.bold{
    font-weight: 600;
}

.dark-mode-topics, .dark-mode-topics--item{
    background-color: var(--blue-900);
}