@use "../util" as u;
@use '../globals' as g;

.main-card{
    display: flex;
    flex-direction: column;
    width: 100;
    max-width: 640px;
    height: 100vh;
    margin-inline: auto;

     @include u.breakpoint(large){
            max-width: 1160px;
            position: relative;
            top: u.$spacing-1200;
        }

    &__header{
        padding: u.$spacing-200;
        margin-inline: u.$spacing-300;
        height: 72px;
      
        &--title{
            display: inline-flex;
            align-items: center;
            display: none;
        }
      
        &--dark-mode-switch{
            display: inline-flex;
            float: right;
            height: 100%;
            gap: .5rem;

            &--sun{
                height: 25px;
                width: 25px;
                background-image: var(--sun-icon);
            }
            &--moon{
                height: 25px;
                width: 25px;
                background-image: var(--moon-icon);
            }
        }
        &--dark-mode-switch {
            display: flex;
            align-items: center;
        }
    }

    &__main{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 10fr;
        margin-inline: u.$spacing-300;
        margin-top: u.$spacing-400;
        height: auto;

        @include u.breakpoint(large){
            max-width: 1160px;
            grid-template-columns: auto 1fr;
            grid-template-rows: 1fr;
            column-gap: u.$spacing-1600;
        }

         &--wrapper{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            height: auto;
            gap: u.$spacing-200;

            @include u.breakpoint(large){
                margin-top: u.$spacing-500;
            }

             &--title{
                font-size: g.$font-size-1-mobile;
                font-weight: 200;
                line-height: 100%;
                @include u.breakpoint(large){
                    font-size: 64px;
                }
            }
            &--subtitle{
                text-align: center;
                font-size: g.$font-size-4-mobile;
                font-weight: 200;
                line-height: 120%;
                font-family: 'Rubik-Italic';
                color: var(--text-secondary);
                 @include u.breakpoint(large){
                    font-size: 20px;
                }
            }
        }

        &--topics{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            width: 100%;
            gap: u.$spacing-200;
            margin-top: u.$spacing-500;

             @include u.breakpoint(large){
                max-width: 700px;
            }

            &--item{
                display: flex;
                justify-content: flex-start;
                gap: u.$spacing-200;
                padding-left: u.$spacing-300;
                align-items: center;
                height: 72px;
                width: 100%;

                background-color: var(--bg-secondary);
                font-size: g.$font-size-3-mobile;
                box-shadow: 0px 16px 40px var(--shadow);
                border-radius: 20px;
            }
        }
    }
}

.bold{
    font-weight: 600;
}

.dark-mode-topics, .dark-mode-topics--item{
    background-color: var(--blue-900);
}