// static
@font-face {
    font-family: 'Rubik-Italic-static';
    src: url('../assets/fonts/static/Rubik-Italic.ttf') format('truetype');
    font-weight: 200;
}
@font-face {
    font-family: 'Rubik-Medium-static';
     src: url('../assets/fonts/static/Rubik-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'Rubik-Regular-static';
     src: url('../assets/fonts/static/Rubik-Regular.ttf') format('truetype');
}

// font-variables
@font-face {
    font-family: 'Rubik-Italic';
    src: url('../assets/fonts/Rubik-Italic-VariableFont_wght.ttf') format('truetype');
}
@font-face {
    font-family: 'Rubik';
    src: url('../assets/fonts/Rubik-VariableFont_wght.ttf') format('truetype');
}