$spacing-0: 0rem;           // 0px
$spacing-100: 0.5rem;       // 8px
$spacing-200: 1rem;         // 16px
$spacing-300: 1.5rem;       // 24px
$spacing-400: 2rem;         // 32px
$spacing-500: 2.5rem;       // 40px
$spacing-600: 3rem;         // 48px
$spacing-700: 4rem;         // 64px    
$spacing-1000: 5rem;        // 80px
$spacing-1200: 6rem;        // 96px
$spacing-1500: 7.5rem;      // 120px
$spacing-1600: 8rem;        // 128px
$spacing-1800: 9rem;        // 144px
$spacing-2000: 10rem;       // 160px
$spacing-2500: 11rem;       // 176px
$spacing-2300: 11.5rem;     // 184px