:root{
    --black: black;
    --white: white; 
    --grey-500: hsl(219, 13%, 44%);
    --grey-50: hsl(220, 38%, 97%);
    --blue-950: hsl(214, 24%, 23%);
    --blue-900: hsl(216, 25%, 25%);
    --blue-850: hsl(215, 27%, 32%);
    --blue-500: hsl(223, 100%, 59%);
    --blue-300: hsl(216, 47%, 78%);
    --blue-100: hsl(220, 50%, 95%);
    --blue-50: hsl(225, 100, 96%);
    --green-500: hsl(151, 68%, 52%);
    --green-100: hsl(151, 88%, 94%);
    --purple-600: hsl(277, 91%, 56%);
    --purple-100: hsl(278, 100%, 95%);
    --orange-400: hsl(22, 100%, 60%);
    --orange-50: hsl(27, 100%, 96%);
    --red-500: hsl(0, 82%, 63%);   

    --mobile-img-body-light: url('/assets/images/pattern-background-mobile-light.svg');
    --mobile-img-body-dark: url('/assets/images/pattern-background-mobile-dark.svg');
    --tablet-img-body-light: url('/assets/images/pattern-background-tablet-light.svg');
    --tablet-img-body-dark: url('/assets/images/pattern-background-tablet-dark.svg');
    --desktop-img-body-light: url('/assets/images/pattern-background-desktop-light.svg');
    --desktop-img-body-dark: url('/assets/images/pattern-background-desktop-dark.svg');
    --icon-moon-light: url('/assets/images/icon-moon-light.svg');
    --icon-moon-dark: url('/assets/images/icon-moon-dark.svg');
    --icon-sun-light: url('/assets/images/icon-sun-light.svg');
    --icon-sun-dark: url('/assets/images/icon-sun-dark.svg');
    --shadow-light: hsl(220, 29%, 66%, .2);
    --shadow-dark: hsl(216, 25%, 25%, .2);

    --bg-primary: var(--grey-50);
    --bg-img-body: var(--mobile-img-body-light);
    --bg-secondary: var(--white);
    --text-primary: var(--blue-900);
    --text-secondary: var(--blue-300);
    --sun-icon: var(--icon-sun-dark);
    --moon-icon: var(--icon-moon-dark);
    --shadow: var(--shadow-light);

    --question-number: var(--grey-500);
    --question-conent: var(--blue-900);
}

[data-theme="dark"] {
    --bg-primary: var(--blue-900);
    --bg-img-body: var(--mobile-img-body-dark);
    --bg-secondary: var(--blue-850);
    --text-primary: var(--white);
    --text-secondary: var(--blue-300);
    --sun-icon: var(--icon-sun-light);
    --moon-icon: var(--icon-moon-light);
    --shadow: var(--shadow-dark);

    --question-number: var(--blue-300);
    --question-conent: var(--white);
}
